# Dependencies
node_modules/

# System files
.DS_Store
Thumbs.db

# Secrets & Configs
scripts/spotify_config.json
.env
public/.htaccess

# Excel Source Data
*.xlsx

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
public/data/embeddings.json
